* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: skyblue;
  padding: 5px;
  margin: 10px;
  line-height: 25px;
}

body {
  text-align: center;
}
