* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: grey;
}

.grid {
  display: grid;
  grid-template-areas:
    "head head head"
    "nav nav nav"
    "score img img"
    "score hint hint"
    "score celeb celeb";
  gap: 10px;
  padding: 10px;
}

header {
  text-align: center;
  grid-area: head;
  background-color: green;
}

nav {
  text-align: center;
  grid-area: nav;
  background-color: blue;
}

.newGameContainer {
  display: inline-block;
}

.quitGameContainer {
  display: inline-block;
}

.celebPic {
  text-align: center;
  grid-area: img;
  background-color: red;
}

.scoreBoard {
  grid-area: score;
  background-color: hotpink;
}

.celebBtns {
  text-align: center;
  grid-area: celeb;
  background-color: orange;
}

.randPic {
  max-width: 100%;
  max-height: 30vh;
}

.openHintBtn {
  height: fit-content;
}

.hintModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;

  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

/* to hide elements on the page */
.hidden {
  display: none;
}
